.dropdown-menu {
    --bs-dropdown-zindex: 1000;
    --bs-dropdown-min-width: 10rem;
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0.5rem;
    --bs-dropdown-spacer: 0.125rem;
    --bs-dropdown-font-size: 1rem;
    --bs-dropdown-color: var(--bs-body-color);
    --bs-dropdown-bg: var(--bs-body-bg);
    --bs-dropdown-border-color: var(--bs-border-color-translucent);
    --bs-dropdown-border-radius: 0.75rem;
    --bs-dropdown-border-width: 0rem;
    --bs-dropdown-inner-border-radius: 0.75rem;
    --bs-dropdown-divider-bg: var(--bs-gray-100);
    --bs-dropdown-divider-margin-y: 0.5rem;
    --bs-dropdown-box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
    --bs-dropdown-link-color: var(--bs-gray-900);
    --bs-dropdown-link-hover-color: var(--bs-gray-900);
    --bs-dropdown-link-hover-bg: var(--bs-tertiary-bg);
    --bs-dropdown-link-active-color: var(--bs-component-hover-color);
    --bs-dropdown-link-active-bg: var(--bs-component-hover-bg);
    --bs-dropdown-link-disabled-color: var(--bs-gray-500);
    --bs-dropdown-item-padding-x: 0.85rem;
    --bs-dropdown-item-padding-y: 0.65rem;
    --bs-dropdown-header-color: var(--bs-gray-600);
    --bs-dropdown-header-padding-x: 0.85rem;
    --bs-dropdown-header-padding-y: 0.5rem;
    position: absolute;
    z-index: var(--bs-dropdown-zindex);
    display: none;
    min-width: var(--bs-dropdown-min-width);
    padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
    margin: 0;
    font-size: var(--bs-dropdown-font-size);
    color: var(--bs-dropdown-color);
    text-align: left;
    list-style: none;
    background-color: var(--bs-dropdown-bg);
    background-clip: padding-box;
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);
    box-shadow: var(--bs-dropdown-box-shadow);
}